body {
  height: 100%;
  width: 100%;
  background-color: gray;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

//Image
.img-wrap {
  position: relative;
  height: 100vh;
  overflow: none;
  z-index: -2;
}

.img-pos {
  display: inline-block;
  position: relative;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
}

#main-img {
  background-image: url();
  height: 100%;
  background-size: cover;
  background-position: 0% 0%;
  z-index: 0;
  transition: background-position 0.2s ease-in-out;
}

//Controls
#controls {
  position: absolute;
  z-index: 2;
  overflow: hidden;

  top: auto;
  bottom: 0px;

  height: 10%;
  width: 100%;

  backdrop-filter: blur(10px);

  transition: transform 0.1s ease-out;

  //Darken blur
  &::after {
    position: absolute;
    z-index: -1;

    top: auto;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: black;
    opacity: 0.5;
    content: "";
  }

  //The hidden version
  &.retracted {
    transform: translateY(110%);
  }
}

//Keep the rest of the controls above the darkened blur
#controls > * {
  z-index: 4;
  opacity: 1;
}

.nav-btn {
  /* display: inline-block; */
  float: left;

  margin: 0;
  padding: 0;

  width: 5%;
  height: 100%;

  color: white;
  background: none;
  border: none;
}

.nav-progress {
  float: left;
  width: 90%;
  height: 100%;
  vertical-align: middle;

  & > .progress-holder {
    height: 100%;
    width: 100%;

    & > input {
      display: block;
      position: relative;
      margin: 0;
      width: 99%;
      height: 5px;

      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-appearance: none;
      appearance: none;

      background: white;

      border-radius: 3px;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background-color: white;
        height: 15px;
        width: 15px;
        border-radius: 50%;
      }
    }
  }
}

//The placeholder so the controls can appear on hover
#control-hover {
  position: absolute;
  z-index: 3;
  overflow: hidden;
  top: 0;

  height: 100%;
  width: 100%;
}

i {
  /*https://www.w3schools.com/howto/howto_css_arrows.asp*/
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  &.right {
    transform: translateX(-50%) rotate(-45deg);
    -webkit-transform: translateX(-50%) rotate(-45deg);
  }

  &.left {
    transform: translateX(50%) rotate(135deg);
    -webkit-transform: translateX(50%) rotate(135deg);
  }

  &.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
