body {
  height: 100%;
  width: 100%;
  background-color: gray;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

.img-wrap {
  position: relative;
  height: 100vh;
  overflow: none;
  z-index: -2;
}

.img-pos {
  display: inline-block;
  position: relative;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
}

#main-img {
  background-image: url();
  height: 100%;
  background-size: cover;
  background-position: 0% 0%;
  z-index: 0;
  transition: background-position 0.2s ease-in-out;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  top: auto;
  bottom: 0px;
  height: 10%;
  width: 100%;
  backdrop-filter: blur(10px);
  transition: transform 0.1s ease-out;
}
#controls::after {
  position: absolute;
  z-index: -1;
  top: auto;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  content: "";
}
#controls.retracted {
  transform: translateY(110%);
}

#controls > * {
  z-index: 4;
  opacity: 1;
}

.nav-btn {
  /* display: inline-block; */
  margin: 0;
  padding: 0;
  width: 5%;
  height: 100%;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-progress {
  height: 100%;
  flex-grow: 100;
  vertical-align: middle;
}
.nav-progress > .progress-holder {
  height: 100%;
  width: 100%;
}
.nav-progress > .progress-holder > input {
  display: block;
  position: relative;
  margin: 0;
  width: 99%;
  height: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-appearance: none;
  appearance: none;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}
.nav-progress > .progress-holder > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
}

#control-hover {
  position: absolute;
  z-index: 3;
  overflow: hidden;
  top: 0;
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

i {
  /*https://www.w3schools.com/howto/howto_css_arrows.asp*/
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
i.right {
  transform: translateX(-50%) rotate(-45deg);
}
i.left {
  transform: translateX(50%) rotate(135deg);
}
i.up {
  transform: rotate(-135deg);
}
i.down {
  transform: rotate(45deg);
}
i.download {
  transform: rotate(45deg);
}
i.download::before {
  display: block;
  position: absolute;
  height: 200%;
  border-left: solid white 3px;
  transform: rotate(-45deg) translate(calc(50% + 1.5px), -30%);
  content: "";
}

.fullscreen {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translate(3px, 5px);
}
.fullscreen::before {
  display: block;
  position: absolute;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  content: "";
  transform: rotate(90deg) translate(-3px, 14px);
}
.fullscreen::after {
  display: block;
  position: absolute;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  content: "";
  transform: rotate(180deg) translate(14px, 14px);
}
.fullscreen > span {
  display: block;
  position: absolute;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  content: "";
  transform: rotate(270deg) translate(14px, -3px);
}
